/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: 'IM Fell English SC', serif;
}

p, ul {
    font-family: 'Asul', sans-serif;
    font-size: 1.2rem;
}

a:hover {
    color: black;
}

.jumbo-background {
    /* The image used */
    background-image: url("../images/Dusk-2.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 75vh;
}

.project-background {
    /* The image used */
    background-image: url("../images/sunset.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-background {
    /* The image used */
    background-image: url("../images/Cloudtops-2.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-divider {
    opacity: 0.75;
}

.font-darkgray {
    color: rgba(78,92,102);
}

.icon-size {
    font-size: 1.5rem;
}

.bg-dark-slate-opaque {
    background-color: rgba(50, 64, 75, 0.40);
}

.bg-gray {
    background-color: rgba(157,173,188);
}

.bg-md-gray {
    background-color: rgb(163,172,187);
}

.bg-antique {
    background-color: rgb(255, 239, 228);
}

.bg-khaki {
    background-color: rgb(255, 229, 200);
}

.bg-gainsboro {
    background-color: rgba(219,223,222);
}

.bg-burlywoodlight {
    background-color: rgb(238, 187, 178);
}

.bg-burlywood {
    background-color: rgba(238,169,157);
}

.bg-burlywooddark {
    background-color: rgb(221, 156, 144);
}

.bg-darksalmon {
    background-color: rgb(226,145,107);
}

#navigation {
    transition: top 0.3s;
}

/* Extra small devices (575px and below) */
@media (max-width: 575.98px) {
    .navbar-brand {
        font-size: 1rem;
    }
    
    .nav-item {
        font-size: 1rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #headshot-row {
        margin: 0;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-item {
        font-size: 1.2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #headshot-row {
        margin-top: -10rem;
    }

    #intro-divider {
        margin-right: 1rem;
        max-width: 16rem;
    }

    /* #exp-title {
        margin-top: 12rem;
    } */

    div.sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 18rem;
    }

    @keyframes fadeInUp {
        from {
            transform: translate3d(0,40px,0)
        }

        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }

    @-webkit-keyframes fadeInUp {
        from {
            transform: translate3d(0,40px,0)
        }

        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }

    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: both
    }

    .hidden {
        opacity: 0
    }

    .fadeInUp {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .navbar-brand {
        font-size: 1.5rem;
    }

    #headshot-row {
        margin-top: -16rem;
    }

    #intro-jumbotron {
        padding-left: 6rem;
    }

    #intro-divider {
        margin-right: 4rem;
        max-width: 100%;
    }

    #lets-talk-button {
        margin-right: 15rem;
    }

    /* #exp-title {
        margin-top: 8rem;
    } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #lets-talk-button {
        margin-right: 0;
    }

    #headshot-row {
        margin-top: -14rem;
    }

    /* #exp-title {
        margin-top: 7rem;
    } */
}
